@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --one: #78acab;
  --two: #dca84d;
  --five: #e8b3aa;
  --ten: #a39acc;
  --cf: #171e70;
  --pch: #cd3aa4;
  --ch: #266a3c;
  --jp: #b61c00;
  --ten-cent: #4caf50;
  --twenty-cent: #2196f3;
  --fifty-cent: #f44336;
  --one-euro: #ffeb3b;
  --two-euro: #9c27b0;
}

html {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
}

.screen {
  background-image: url("../public/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.lottie-animation {
  pointer-events: none;
}

@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}
